<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <%= link_to "Back", :back %>
    <center><h4>Name: <%= @language.name %></h4></center>
    <br/>
    <%= link_to "edit", edit_admin_language_path(@language), class: "btn btn-primary" %>
    <%= link_to "delete", admin_language_path(@language), data: {method: :delete, confirm: "Are you sure?"}, class: "btn btn-danger" %>
    <br/>
    <center><h3><u>Turails</u></h3></center>
    <%= link_to "Add new Turail", new_admin_tutorial_path %>
    <table class="table">
      <thead>
        <th>Title</th>
        <th>Language</th>
        <th>Discription</th>    
        <th>Action</th>
      </thead>
      <tbody>
        <%= render @tutorials %>    
      </tbody>
    </table>
    <%= will_paginate @tutorials %>

    <center><h3><u>Articles</u></h3></center>
    <%= link_to "Add new Article", new_admin_article_path, "data-no-turbolink" => true %>
    <table class="table">
      <thead>
        <th>Title</th>
        <th>Language</th>
        <th>Content</th>
        <th>Action</th>
      </thead>
      <tbody>
        <%= render @articles %>    
      </tbody>
    </table>
    <%= will_paginate @articles %>

  </div>
</div>
