<!-- <div class="row"> -->
  <div class="col-md-12 question-show">
    <h3>
      <%= link_to question.title, question_path(question) %>
    </h3>
    <span class="text-muted small">
      <em>
      <%= t("question.label.ask_by") %> <%= (link_to question.user.name, question.user) if question.user %>
      <br/>    
      <%= l question.created_at.localtime.to_date %>, <%= question.comments.size %> <%= t("question.label.answers") %>
        <br/>
        <%= t("question.label.tags") %>
        <% question.tags.each do |tag| %>
          <%= link_to tag.name, tag %>
        <% end %>
      </em>
    </span>
  </div>
<!-- </div> -->
