<div class="col-md-12 new-question">
  <%= link_to new_question_path, class: "pull-right btn btn-info" do %>
    <%= t("question.link.ask_question") %> <i class="fa fa-question"></i>
  <% end %>
</div>

<% if params[:search].present? %>
  <% provide :title, "#{t("page_title.search_question")} " + params[:search].to_s %>
  <b><%= t("search.label.filter") %> <%= params[:search] %></b>
  <% unless @questions && @questions.any? %>
    <p><%= t("search.label.question_no_found") %>  <%= link_to t("search.link.all_question"), questions_path %></p>
  <% else %>    
    <%= render @questions %>
    <%= will_paginate @questions %>
  <% end %>
<% else %>
  <% provide :title, t("page_title.question") %>
  <%= render @questions %>
  <%= will_paginate @questions %>
<% end %>
