<div class="row">
  <div class="col-md-12 white-container article-detail">    
    <legend><h3><%= @question.title %></h3></legend>    
    <%= markdown @question.content %>
    <% if @question.user == current_user %>
      <%= link_to t("link.edit"), edit_question_path(@question), class: "btn btn-primary" %>      
      <%= link_to t("link.delete"), question_path(@question), data: {method: :delete, confirm: t("info.confirm_delete")} , class: "btn btn-danger" %>
    <% end %>
    <br/>
    <span class="text-muted small">
      <em>        
        <%= t("question.label.ask_by") %> <%= (link_to @question.user.name, @question.user) if @question.user %>
        <%= t("question.label.about") %> <%= time_ago_in_words @question.created_at %> <%= t("question.label.ago") %>, 
        <%= @question.comments.size %> <%= t("question.label.answers") %>
        <br/>      
        <%= t("question.label.tags") %>
        <% @question.tags.each do |tag| %>
          <%= link_to tag.name, tag %>
        <% end %>
      </em>
    </span>
  </div>
   <div class="col-md-12 white-container article-detail">
    <br/>
    <%= render "comments/comments" %>
    <% if user_signed_in? %>
      <div id="reply_comment_form">
        <%= render "comments/form", comment_title: t("question.label.comment_title") %>  
      </div>
    <% else %>
        <%= link_to t("link.sign_in"), new_user_session_path  %>
        <%= t("question.label.comment_info") %>
    <% end %>            
  </div>  
  <div class="col-md-12">
    <div class="row well article-detail">
    <%= t("question.label.similar_question") %>
    <ul>
    <% @simlar_questions.each do |question| %>
      <li>
        <%= link_to question do %>          
          <p><%= question.title %></p>
        <% end %>
      </li>            
    <% end %>
    </ul>
    </div>
  </div>
</div>
