<div class="media">
  <a class="pull-left" href="#">    
    <%= image_tag comment.user.avatar, class: "img-round img-responsive user_profile" %>
  </a>
  <div class="media-body">
    <div class="comment-heading">
    <%= link_to comment.user.name, [:admin, comment.user] %>
    , <%= comment.parent_id.present? ? t("admin.comments.label.reply") : t("admin.comments.label.post") %> <%= t("admin.comments.label.comment_on") %>
    <%= link_to comment.commentable do %>
      <%= comment.commentable.title %>
    <% end %>
    <span class="text-muted small">
      <em>
      <%= time_ago_in_words comment.created_at %>
      </em>
    </span>
    </div>
    <div class="comment_content">
      <%= markdown comment.content %>
      <div>
        <%= link_to t("link.show"), admin_comment_path(comment) %>
        | <%= link_to t("link.delete"), admin_comment_path(comment), data: {method: :delete, confirm: t("info.confirm_delete")} %>
      </div>
    </div>    
  </div>
</div>
