<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <div class="media">
      <a class="pull-left" href="#">    
        <%= image_tag @comment.user.avatar, class: "img-round img-responsive user_profile" %>
      </a>
      <div class="media-body">
        <div class="comment-heading"><%= @comment.user.name %>
        <%= t("admin.comments.label.comment_on") %>
        <%= link_to @comment.commentable do %>
          <%= @comment.commentable.title %>
        <% end %>
        <span class="text-muted small">
          <em>
          <%= time_ago_in_words @comment.created_at %> <%= t("admin.comments.label.ago") %>
          </em>
        </span>
        </div>
        <div class="comment_content">
          <%= markdown @comment.content %>          
        </div>    
      </div>
      <br/>      
      <%= link_to admin_comment_path(@comment), data: {method: :delete, confirm: t("info.confirm_delete")}, class: "btn btn-danger" do %>
        <i class="fa fa-trash-o"></i> <%= t("link.delete") %>
      <% end %>
    </div>
  </div>
</div>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" data-no-turbolink ></script>
