<% provide :title, t("page_title.privacy") %>
<div class="row">
  <div class="col-md-12 white-container about-show">
    <h3><%= t("privacy_page.title") %></h3>
    <p>
      <%= t("privacy_page.content_1") %>
    </p>
    <p>
      <%= t("privacy_page.last_edit") %>
    </p>
    <h3><%= t("privacy_page.personal_info") %></h3>
    <p>
      <%= t("privacy_page.content_2") %>
    </p>
    <p>
      <%= t("privacy_page.content_3") %>      
    </p>
  </div>
</div>
