<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2><%= t("devise.label.edit") %> <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, validate: true) do |f| %>
      <%= render "shared/error_message", object: f.object %>

      <center>
        <%= image_tag f.object.avatar, class:"img-round img-responsive user_profile", id: "uploadPreview"  %>
      </center>  
      
      <div class="form-group">
        <%= f.file_field :avatar, class: "form-control", id: "uploadImage", onchange:"PreviewImage();", accept: "image/png,image/gif,image/jpeg" %>
        <%= f.hidden_field :avatar_cache %>
      </div>
      
      <div class="form-group">
        <%= f.label t("devise.label.name") %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <% unless f.object.provider.present? %>
        <div class="form-group">
          <%= f.label t("devise.label.email") %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t("devise.label.email_info") %> <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label t("devise.label.password") %> <i>(<%= t("devise.label.password_info") %>)</i>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label t("devise.label.password_confirmation") %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit t("devise.link.update"), class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3><%= t("devise.label.cancel_account") %></h3>

    <p><%= t("devise.label.unhappy") %> <%= button_to t("devise.link.cancel_account"), registration_path(resource_name), data: { confirm: t("devise.label.cancel_confirm") }, method: :delete,class: "btn btn-danger" %></p>

    <%= link_to t("devise.link.back"), :back %>

  </div>
</div>
