<div class="media">  
  <%= link_to comment.user, class: "pull-left" do %>
    <%= image_tag comment.user.avatar, class: "img-round img-responsive user_profile" %>
  <% end %>
  <div class="media-body">
    <div class="comment-heading">
      <%= link_to comment.user.name, comment.user %>      
      <span class="text-muted small">
        <em>
          <%= time_ago_in_words comment.created_at %> <%= t("comments.label.ago") %>
        </em>
      </span>
    </div>
    <div class="comment_content">
      <%= markdown comment.content %>
      <% if comment.ancestor_ids.count < 3 %>
        <% if user_signed_in? %>
          <%= link_to raw("#{t("comments.label.reply")} <i class='fa fa-paper-plane-o'></i>"), new_polymorphic_path([@commentable, Comment.new], parent_id: comment), remote: true, class: "btn-reply" %>
          <br/><br/>
        <% else %>
          <%= link_to t("comments.link.sign_in"), new_user_session_path  %>
          <%= t("comments.label.to_reply") %>
          <br/><br/>
        <% end %>
      <% end %>
      <div id="comment_<%= comment.id %>">
        <%= render comment.children %>
      </div>
      <div id="reply_form_<%= comment.id %>">      
      </div>
    </div>    
  </div>
</div>    
