<tr>
  <td>
    <p><%= truncate article.title, length: 20 %></p>
  </td>
  <td>
    <%= (link_to article.user.name , [:admin, article.user]) if article.user %>
  </td>
  <td>
    <%= truncate article.description, length: 30 %>
  </td>
  <td>
    <%= article.status %>
  </td>
  <td>
    <%= link_to t("link.detail"), admin_article_path(article) %>
    | <%= link_to t("link.edit"), edit_admin_article_path(article), "data-no-turbolink" => true %>
    | <%= link_to t("link.delete"), admin_article_path(article), data: {method: :delete, confirm: t("info.confirm_delete")} %>
  </td>
</tr>
