<%= form_for [:admin, @article], validate: true do |f| %>
  <%= render "shared/error_message", object: f.object %>
  
  <div class="form-group">
    <%= f.label t("admin.articles.label.tag") %>
    <%= f.collection_select :tag_ids, Tag.with_translations.order(:name), "id", "name",{},{multiple: true, size: 5, class: "form-control tags_choosen"} %>    
  </div>

  <div class="form-group">    
    <%= f.text_field :title, class: "form-control", placeholder: Article.human_attribute_name(:title) %>
  </div>
  
  <div class="form-group">
    <%= f.label :publish_date %>
    <div class="form-inline">
      <%= f.date_select :publish_date, {start_year: Time.now.year, end_year: 5.year.ago.year,
        order: [:day, :month, :year], validate: false,
        prompt: { day: t("label.day"), month: t("label.month"), year: t("label.year") }},
        {class: "form-control selectwidthauto"} %>
    </div>
  </div>  

  <div class="form-group">    
    <%= f.text_area :description, rows: 12, class: "form-control", placeholder: Article.human_attribute_name(:description) %>
  </div>

  <div class="form-group">
    <%= t("comments.label.use_markdown") %>
    <a href="javascript:void(0)" class="markdown_link"><%= t("comments.label.here") %></a>
    <div class="markdown_examples">
      <%= render "shared/markdown_sample" %>
    </div>
    <br/>
    <%= f.text_area :content, rows: 30, class: "form-control", placeholder: Article.human_attribute_name(:content) %>
  </div>  
  <div class="form-group">
    <%= f.label :status, class: "radio-inline", value: :show do %>
      <%= f.radio_button :status, :show %><%= t("admin.articles.label.show") %>
    <% end%>
    <%= f.label :status, class: "radio-inline", value: :hide do %>
      <%= f.radio_button :status, :hide %><%= t("admin.articles.label.hide") %>
    <% end%>
  </div>  
  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" do %>
      <i class="fa fa-floppy-o"> </i> <%= action %>
    <% end %>        
  </div>
<% end %>
<script type="text/javascript">
  $(".markdown_examples").hide();
  $(".markdown_link").click(function(){
    if($(".markdown_examples").is(":visible")){
      $(".markdown_examples").hide();
    }else{
      $(".markdown_examples").show();
    }    
  });
</script>
