<%= form_for [:admin, @article] do |f| %>
  <%= render "shared/error_message", object: f.object %>
  
  <div class="form-group">
    <%= f.label t("admin.articles.label.tag") %>
    <%= f.collection_select :tag_ids, Tag.with_translations.order(:name), "id", "name",{},{multiple: true, size: 5, class: "form-control tags_choosen"} %>    
  </div>

  <div class="form-group">
    <%= f.label t("admin.articles.label.title") %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t("admin.articles.label.description") %>
    <%= f.text_area :description, rows: 12, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t("admin.articles.label.content") %>
    <%= f.cktext_area :content, rows: 30, class: "form-control ckeditor" %>
  </div>

  <div class="form-group">
    <%= f.submit action, class: "btn btn-primary" %>
  </div>
<% end %>
