<div class="col-md-12 well">
  <legend><h3><%= t("admin.articles.label.article") %></h3>
    <div class="col-md-3 pull-right">
      <%= form_tag(admin_articles_path, :method => "get", class: "", id: "search-form", role: "search") do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: t("admin.articles.label.search") %>
           <div class="input-group-btn">
              <button type="submit" class="btn btn-default">
                 <i class="fa fa-search fa-lg"></i>
              </button>
           </div>
      </div>
    <% end %>
    </div>
  </legend> 
  <%= link_to t("admin.articles.link.add_new_article"), new_admin_article_path, "data-no-turbolink" => true %>
  <table class="table">
    <thead>
      <th><%= t("admin.articles.link.title") %></th>
      <th><%= t("admin.articles.link.author") %></th>
      <th><%= t("admin.articles.link.description") %></th>
      <th><%= t("admin.articles.link.action") %></th>
    </thead>
    <tbody>
      <%= render @articles %>    
    </tbody>
  </table>
  <%= will_paginate @articles %>

</div>
