<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <%= link_to t("link.back"), :back %>
    <center><h3><u><%= @article.title.capitalize if @article.title %></u></h3></center>    
    <span class="text-muted small">
      <em>
        <%= t("admin.articles.label.author") %> <%= (link_to @article.user.name, [:admin, @article.user]) if @article.user %>
        <br/>
        <%= t("admin.articles.label.published_on") %> <%= l @article.publish_date.localtime %>

        <p><%= t("admin.articles.label.tag") %>
          <% @article.tags.each do |tag| %>
            <%= link_to tag.name, [:admin, tag] %>,
          <% end %>
          <br/>
          <%= t("admin.articles.label.status") %>: <%= @article.status %>
        </p>
      </em>
    </span>
    <br/>
    <p><%= @article.description %></p>
    <%= link_to t("link.edit"), edit_admin_article_path(@article), class: "btn btn-primary" %>
    <%= link_to t("link.delete"), admin_article_path(@article), data: {method: :delete, confirm: t("info.confirm_delete")}, class: "btn btn-danger" %>
    <hr/>    
    <div class="style-markdown">
      <%= markdown @article.content %>
    </div>
  </div>
</div>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" data-no-turbolink ></script>
