<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <%= link_to "Back", :back %>
    <center><h3><u><%= @article.title.capitalize %></u></h3></center>
    <p>Tags: 
    <% @article.tags.each do |tag| %>
        <%= link_to tag.name, [:admin, tag] %>,
    <% end %>
        </p>    
    <br/>
    <p><%= @article.description %></p>
    <%= link_to "edit", edit_admin_article_path(@article), class: "btn btn-primary", "data-no-turbolink" => true %>
    <%= link_to "delete", admin_article_path(@article), data: {method: :delete, confirm: "Are you sure?"}, class: "btn btn-danger" %>
    <br/>
    <%= sanitize @article.content %>
  </div>
</div>
