<div class="row">
  <div class="col-md-12">
    <h3><%= link_to article.title, article %></h3>
    <p>
      <%= t("articles.label.post_at") %> <%= l article.created_at.localtime.to_date %>, <%= article.comments.size %> <%= t("articles.label.comment") %></p>
    <p>
    <p class="acticle-info"><%= t("articles.label.tag") %>
    <% article.tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
    </p>    
      <%= article.description %>
      <%= link_to "read more.", article_path(article) %> 
    </p>
  </div>
</div>
