<div class="row">
  <div class="col-md-12">
    <center><h3><u><%= @article.title.capitalize %></u></h3></center>
    <p><%= t("articles.label.tag") %>
      <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag %>
      <% end %>
      <br/>
      <%= t("devise.label.post_at") %> <%= l @article.created_at.localtime.to_date %>
    </p>
    <p><%#= @article.description %></p>    
    <%= sanitize @article.content %>
  </div>
  <div class="col-md-12">
    <br/>
    <%= render "comments/comments" %>
    <% if user_signed_in? %>
      <div id="reply_comment_form">
        <%= render "comments/form", comment_title: t("comments.label.leave_comment") %>  
      </div>
    <% else %>
        <%= link_to t("devise.link.sign_in"), new_user_session_path  %>
        <%= t("comments.label.to_post") %>
    <% end %>
  </div>
  <div class="col-md-12">
    <div class="row well">
    <%= t("articles.label.similar_article") %>
    <ul>
    <% @simlar_articles.each do |article| %>
      <li>
        <%= link_to article do %>          
          <p><%= article.title %></p>
        <% end %>
      </li>            
    <% end %>
    </ul>
    </div>
  </div>
</div>
