<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collape-side-bar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collape-user">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-user"></i>
        </button>
        <%= link_to admin_root_path do %>
          <span class="navbar-brand"><%= t("layouts.admin.header.link.root_path") %></span>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="collape-user">
        <ul class="nav navbar-right user-nav">          
          <li class="pull-right">
            <%= link_to t("layouts.admin.header.link.welcome") + "#{current_user.name}", "#", class:"dropdown-toggle", id:"admin-user-header", 
                      'aria-expanded' =>'false', data: {toggle: "dropdown"} %>
              <ul id="login-dp" class="dropdown-menu">    
                <li>
                  <%= link_to [:admin, current_user] do%>
                    <i class="fa fa-user"> </i>  <%= t("layouts.admin.header.link.profile") %>
                  <%end%>
                </li>                              
                <li class="divider"></li>
                <li><%= link_to sign_out_path do%>
                  <center><i class="fa fa-sign-out fa-lg"></i>  <%= t("layouts.admin.header.link.sign_out") %></center>      
                <%end%>    
                </li>
                <br/>
              </ul>                
          </li>          
        </ul>
      </div> 
      <div class="collapse navbar-collapse" id="collape-side-bar">
          <ul class="nav navbar-nav side-nav">
              <li class="<%= "active" if controller?("admin/static_pages")&& action?("dashboard") %> %>">
                <%= link_to admin_root_path do %>
                  <i class="fa fa-fw fa-dashboard"></i> <%= t("layouts.admin.header.link.dashboard") %>
                <% end %>
              </li>
              <li class="<%= "active" if controller?("admin/tags") %>">
                <%= link_to admin_tags_path do %>
                  <i class="fa fa-tags"></i> <%= t("layouts.admin.header.link.tag") %>
                <% end %>
              </li>
              <li class="<%= "active" if controller?("admin/articles") %>">
                <%= link_to admin_articles_path do %>
                  <i class="fa fa-book"></i> <%= t("layouts.admin.header.link.articles") %>
                <% end %>
              </li>
              <li class="<%= "active" if controller?("admin/videos") %>">
                <%= link_to admin_videos_path do %>
                  <i class="fa fa-video-camera"></i> <%= t("layouts.admin.header.link.videos") %>
                <% end %>
              </li>
              <li class="<%= "active" if controller?("admin/questions") %>">
                <%= link_to admin_questions_path do %>
                  <i class="fa fa-question-circle"></i> <%= t("layouts.admin.header.link.question") %>
                <% end %>
              </li>
              <li class="<%= "active" if controller?("admin/users") %>">
                <%= link_to admin_users_path do %>
                  <i class="fa fa-user"></i> <%= t("layouts.admin.header.link.users") %>
                <% end %>
              </li>
              <li class="<%= "active" if controller?("admin/comments") %>">
                <%= link_to admin_comments_path do %>
                  <i class="fa fa-comment"></i> <%= t("layouts.admin.header.link.comments") %>
                <% end %>
              </li>
              <li class="<%= "active" if controller?("admin/activities") %>">
                <%= link_to admin_activities_path do %>
                  <i class="fa fa-eye"></i> <%= t("layouts.admin.header.link.activities") %>
                <% end %>
              </li>
              <li class="<%= "active" if controller?("admin/static_pages") && !action?("dashboard") %>" >
                <%= link_to admin_about_path do %>
                  <i class="fa fa-info-circle"></i> <%= t("layouts.admin.header.link.about") %>
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>
                  <i class="fa fa-arrow-right"></i> <%= t("layouts.admin.header.link.home_page") %>
                <% end %>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->   
    </div>
  </div>
</header>
