<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="អត្ថបទ​ វីដេអូ និងសំនួរដែលនិយាយអំពីភាសារកុំព្យូទ័រមានដូចជា គន្លឹះ ល្បិច និង ការបង្រៀន។ ល្អសម្រាប់អ្នកមិនទាន់ចេះឫអ្នកចេះខ្លះៗហើយនៅលើផ្នែក game, mobile, PC ហើយនិង web។" />
    <meta name="keywords" content="C, C++, Java, Ruby, javascript, jQuery, css, html, ruby on rails, android, ios, screencasts, articles, tips, tricks, tutorials, training, podcasts, programming, game, PC , web, mobile, computer language, អត្ថបទ​, វីដេអូបង្រៀន, សំនួរ, បច្ចេកវិទ្យា" />

    <title><%= full_title yield(:title) %></title>    
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= render "layouts/async_javascript", path: "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
    <%= favicon_link_tag "icon-logo.ico" %>
  </head>
  <body>
    <%= render "layouts/admin/header" %>

    <div class="row admin-head">
      <div class="col-lg-12">
        <% flash.each do |key, value| %>
         <%= content_tag(:div, value, class: "alert alert-#{(key == "danger")? "danger" : "success"}") %>
        <% end %>
        <div class="col-md-12">
          <%= render "shared/locale_lang" %>
        </div>
        <div class="clear_float">
          <%= yield %>
        </div>        
      </div>
    </div>
  </body>
</html>
