<div class="row">
  <div class="col-md-12 white-container">
    <legend><h2><b><%= @user.name %><%= t("users.label.profile") %></b></h2></legend>
    <div class="row">
      <div class="col-md-2">
        <div class="pull-right">
          <%= image_tag @user.avatar.url, calss: "img-round img-responsive user_profile" %>
        </div>
      </div>
      <div class="col-md-10">
        <% unless @user.provider.present? %>
          <p><%= t("users.label.email") %> <%= @user.email %></p>
        <% else %>
          <p>
            <%= link_to @user.url do %>
              <i class="fa fa-<%= @user.provider %>-square fa-3x"></i>  
            <% end %>
          </p>
        <% end %>
        <span class="text-muted small">
          <em>
            <%= t("admin.user.label.created_at") %> <%= l @user.created_at.localtime %><br/>
          </em>
        </span>
        <% if @user == current_user %>
          <% if @user.admin? || @user.super?%>
            <%= link_to t("users.link.goto_admin"), admin_root_path %>
          <% end %>
          <br/>
          <%= link_to t("users.link.edit"), edit_user_registration_path %>
          | <%= link_to t("users.link.sign_out"), sign_out_path %>        
        <% end %>
      </div>
    </div>    
  </div>
  <div class="col-md-12 white-container">    
      <!-- Nav tabs -->
    <ul class="nav nav-tabs " role="tablist">
      <li role="presentation" class="active">        
        <%= link_to t("users.label.comment"), {action: "comment"}, id: "comment", remote: true %>
      </li>
      <li role="presentation">
        <%= link_to t("users.label.question"), {action: "question"}, id: "question", remote: true %>
      </li>
    </ul>      
  </div>
  <div class="col-md-12">  
      <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="user_info_tab">
        <%= render partial: "user_comment" %>
      </div>        
    </div>  
  </div>
</div>
