<div class="row">
  <div class="col-md-6 col-md-offset-3 well">    
    <legend><h2><b><%= @user.name %><%= t("users.label.profile") %></b></h2></legend>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.avatar.url, calss: "img-round img-responsive user_profile" %>          
      </div>
      <div class="col-md-9">
        <% unless @user.provider.present? %>
          <p><%= t("users.label.email") %> <%= @user.email %></p>
        <% else %>
          <p>
            <%= link_to @user.url do %>
              <i class="fa fa-<%= @user.provider %>-square fa-3x"></i>  
            <% end %>
          </p>
        <% end %>
        <span class="text-muted small">
          <em>
            <%= t("admin.user.label.created_at") %> <%= l @user.created_at.localtime %><br/>
          </em>
        </span>
        <% if @user == current_user %>
          <% if @user.admin? || @user.super?%>
            <%= link_to t("users.link.goto_admin"), admin_root_path %>
          <% end %>
          <br/>
          <%= link_to t("users.link.edit"), edit_user_registration_path %>
          | <%= link_to t("users.link.sign_out"), sign_out_path %>        
        <% end %>
      </div>
    </div>    
  </div>
  <div class="col-md-12">
    <h3><%= t("users.label.activity") %></h3>
    <% @comments.each do |comment| %>
      <div class="media">
        <a class="pull-left" href="#">    
          <%= image_tag @user.avatar, class: "img-round img-responsive user_profile" %>
        </a>
        <div class="media-body">
          <div class="comment-heading"><%= @user.name %>
          <%= t("users.label.comment_info") %>
          <%= link_to comment.commentable do %>
            <%= comment.commentable.title %>
          <% end %>
          <span class="text-muted small">
            <em>
              <%= time_ago_in_words comment.created_at %> <%= t("users.label.ago") %>
            </em>
          </span>
          </div>
          <div class="comment_content">
            <%= markdown comment.content %>
          </div>    
        </div>
      </div>
    <% end %>
    <%= will_paginate @comments %>
  </div>
</div>
