<div class="row video">
  <div class="col-md-3 screenshot">
    <%= image_tag video.image, class: "img-responsive" %>    
    <%= link_to "Read more", video_path(video), class: "btn btn-primary btn-read-video" %>
  </div>
  <div class="col-md-9 video-info">
    <h2>
      <%= link_to video.title, video_path(video) %>
    </h2>
    <span class="info">
      <%= l video.created_at.localtime.to_date %>
      , duration:<%= video.duration %> minutes
      , <%= video.comments.size %> comments
    </span>
    <br>
    <%= video.description %>
  </div>
</div>
