<!-- <div class="row"> -->
  <div class="col-md-12 video-show">
    <div class="col-md-4 screenshot">
      <%= link_to video_path(video) do %>
        <%= image_tag video.image, class: "img-responsive" %>
      <% end %>
    </div>
    <div class="col-md-8 video-info">
      <h2>
        <%= link_to video.title, video_path(video) %>
      </h2>
      <span class="text-muted small">
        <em>
        <%= t("label.post_by") %> <%= (link_to video.user.name, video.user) if video.user %>
        <br/>
        <%= l video.publish_date.localtime.to_date %>
        <%= t("videos.label.duration") %><%= video.duration %> <%= t("videos.label.minute") %>
        , <%= video.comments.size %> <%= t("articles.label.comment") %>
        <br/>
        <%= t("question.label.tags") %>
        <% video.tags.each do |tag| %>
          <%= link_to tag.name, tag %>
        <% end %>
        </em>
      </span>
      <br>
      <p><%= video.description %></p>
      <%= link_to t("videos.link.read_more"), video_path(video) %>
    </div>
  </div>
<!-- </div> -->
