<div class="row" id="video-show">
  <div class="col-md-3 screenshot">
    <%= image_tag @video.image, class: "img-responsive" %>    
    <%= link_to "Read more", "#", class: "btn btn-primary btn-read-video" %>
  </div>
  <div class="col-md-9 video-info">
    <h2><%= @video.title %></h2>
    <span class="info">
      <%= @video.created_at.to_date %>
      , duration:<%= @video.duration %> minutes
      <br/>
      <%= link_to "#" do %>
        tutorial: <%= @video.tutorial.title %>
      <% end %>
      <%= link_to "#" do %>
        ,language: <%= @video.tutorial.language.name %>
      <% end %>
    </span>
    <br>
    <%= @video.description %>
  </div>  
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            Link in this video:
            <ul>
              <%= render @video.usefull_links %>
            </ul>
          </div>
          <div class="col-md-12">
            <%= render @video.snippet %>
          </div>
          <div class="col-md-12">
            <br/>
            <%= render "comments/comments" %>
            <%= render "comments/form" %>
          </div>
          <br/>
          <div class="col-md-12">
            <div class="row well">
            <% @simlar_videos.each do |video| %>
              <div class="col-xs-6 col-sm-3 similar-video">
                <%= link_to video do %>
                  <%= image_tag video.image, class: "img-responsive" %>
                  <p><%= truncate video.description, length: 50 %></p>
                <% end %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
