<div class="row" id="video-show">
  <div class="col-md-12">
    <div class="embed-responsive embed-responsive-16by9 video_wrapper">
      <iframe class="embed-responsive-item" src="<%= @video.file_link %>" allowfullscreen>        
      </iframe>     
    </div>    
  </div>  
  <div class="col-md-12 video-info">
    <h2><%= @video.title %></h2>
    <span class="info">
      <%= l @video.created_at.localtime.to_date %>
      <%= t("videos.label.duration") %><%= @video.duration %> <%= t("videos.label.minute") %>
      <br/>      
      <%= t("videos.label.tags") %>
      <% @video.tags.each do |tag| %>
        <%= link_to tag.name, tag %>
      <% end %>
    </span>
    <br>
    <%= @video.description %>
  </div>  
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <%= t("videos.label.more_link") %>
            <ul>
              <%= render @video.usefull_links %>
            </ul>
          </div>
          <div class="col-md-12">
            <%= render @video.snippet %>
          </div>
          <div class="col-md-12">
            <br/>
            <%= render "comments/comments" %>
            <% if user_signed_in? %>
              <div id="reply_comment_form">
                <%= render "comments/form", comment_title: t("videos.label.comment_title") %>  
              </div>
            <% else %>
                <%= link_to t("videos.link.sign_in"), new_user_session_path  %>
                <%= t("videos.label.comment_info") %>
            <% end %>            
          </div>
          <br/>
          <div class="col-md-12">
            <div class="row well">
            <% @simlar_videos.each do |video| %>
              <div class="col-xs-6 col-sm-3 similar-video">
                <%= link_to video do %>
                  <%= image_tag video.image, class: "img-responsive" %>
                  <p><%= truncate video.description, length: 50 %></p>
                <% end %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
