<div class="row">
  <div class="col-md-12">
    <h3><%= link_to tutorial.title, tutorial %></h3>
    <p>language: <%= tutorial.language.name %>, upload at: <%= tutorial.created_at.to_date %></p>
    <p>
      <%= tutorial.description %>
      <%= link_to "read more.", tutorial_path(tutorial) %>
    </p>
  </div>
</div>
