<div class="row">
  <div class="col-md-12">
    <%= link_to "Back", :back %>
    <center><h3><u><%= @tutorial.title.capitalize %></u></h3></center>
    <p>Language: <%= @tutorial.language.name %></p>
    <pre><%= @tutorial.description %></pre>    
    <b>Video List:</b>
    <br/><br/>
    <div class="col-md-12">
      <%= render @videos %>
      <%= will_paginate @videos %>
    </div>
  </div>
</div>
