<%= form_for [:admin, @tag], validate: true do |f| %>

  <%= render "shared/error_message", object: f.object %>

  <div class="form-group">    
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: Tag.human_attribute_name(:name) %>
  </div>
  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" do %>
      <i class="fa fa-floppy-o"> </i> <%= action %>
    <% end %>        
  </div>
<% end %>
