<%= form_for [:admin, @tag] do |f| %>

  <%= render "shared/error_message", object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit action, class: "btn btn-primary" %>
  </div>
<% end %>
