<tr>
  <td>
    <p><%= truncate tag.name, length: 50 %></p>
  </td>
  <td>
    <p><%= (link_to tag.user.name, [:admin, tag.user]) if tag.user %></p>
  </td>
  <td>
    <span class="text-muted small">
      <em>
        <%= l tag.created_at.localtime %>
      </em>
    </span>
  </td>
  <td>
    <%= link_to t("link.detail"), admin_tag_path(tag) %>
    | <%= link_to t("link.edit"), edit_admin_tag_path(tag) %>
    | <%= link_to t("link.delete"), admin_tag_path(tag), data: {method: :delete, confirm: t("info.confirm_delete")} %>
  </td>
</tr>
