<div class="row">
  <div class="col-md-12 well">    
    <%= link_to t("link.back"), :back %>
    <legend><h3><p><%= @question.title %><p></h3></legend>    
    <%= markdown @question.content %>    
    <%= link_to t("link.edit"), edit_admin_question_path(@question), class: "btn btn-primary" %>      
    <%= link_to t("link.delete"), admin_question_path(@question), data: {method: :delete, confirm: t("info.confirm_delete")} , class: "btn btn-danger" %>    
    <br/>
    <span class="text-muted small">
      <em>        
        <%= t("question.label.ask_by") %> <%= link_to @question.user.name, [:admin, @question.user] %>
        <%= t("question.label.about") %> <%= time_ago_in_words @question.created_at %> <%= t("question.label.ago") %>, 
        <%= @question.comments.size %> <%= t("question.label.answers") %>
        <br/>      
        <%= t("question.label.tags") %>
        <% @question.tags.each do |tag| %>
          <%= link_to tag.name, [:admin, tag] %>
        <% end %>
      </em>
    </span>
  </div>
</div>
