<div class="row">
  <div class="col-md-12 well">    
    <%= link_to :back do %>
      <i class="fa fa-arrow-left"></i> <%= t("link.back") %>
    <% end %>
    <legend><h3><p><%= @question.title %><p></h3></legend>    
    <%= markdown @question.content %>    
    <%= link_to edit_admin_question_path(@question), class: "btn btn-primary" do %>
      <i class="fa fa-pencil-square-o"></i> <%= t("link.edit") %>
    <% end %>
    <%= link_to admin_question_path(@question), data: {method: :delete, confirm: t("info.confirm_delete")} , class: "btn btn-danger" do %>
      <i class="fa fa-trash-o"></i> <%= t("link.delete") %>
    <% end %>
    <br/>
    <span class="text-muted small">
      <em>        
        <%= t("question.label.ask_by") %> <%= link_to @question.user.name, [:admin, @question.user] %>
        <%= time_ago_in_words @question.created_at %>, 
        <%= @question.comments.size %> <%= t("question.label.answers") %>
        <br/>      
        <%= t("question.label.tags") %>
        <% @question.tags.each do |tag| %>
          <%= link_to tag.name, [:admin, tag] %>
        <% end %>
      </em>
    </span>
  </div>
</div>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" data-no-turbolink ></script>
