<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <legend><h3><%= t("admin.static_pages.label.about") %></h3></legend>
    <%= link_to @page.ff_link do %>
      <i class="fa fa-facebook-square fa-3x"></i>
    <% end %>
    <%= link_to @page.tw_link do %>
      <i class="fa fa-twitter-square fa-3x"></i>
    <% end %>
    <%= link_to @page.yt_link do %>
      <i class="fa fa-youtube-square fa-3x"></i>
    <% end %>
    <br/>
    <div class="style-markdown">
      <%= markdown @page.content %>
    </div>
    <br/>
    <%= link_to admin_edit_about_path, class: "btn btn-primary" do %>
      <i class="fa fa-pencil-square-o"> </i> <%= t("link.edit") %>
    <% end %>
  </div>
</div>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" data-no-turbolink ></script>
