<div class="row">
  <div class="col-md-10 col-md-offset-1 well">    
    <legend><h3><%= t("admin.static_pages.label.edit_about") %></h3></legend>
    <%= form_for @page, url: admin_update_about_path, method: :patch do |f| %>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-facebook facebook"></i>
          </span>          
          <%= f.text_field :ff_link, class: "form-control", placeHolder: t("admin.static_pages.label.fb_link") %>
        </div>
      </div>      
      <div class="form-group">            
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-twitter twitter"></i>
          </span>
          <%= f.text_field :tw_link, class: "form-control", placeHolder: t("admin.static_pages.label.tw_link") %>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-youtube"></i>
          </span>
          <%= f.text_field :yt_link, class: "form-control", placeHolder: t("admin.static_pages.label.yt_link") %>
        </div>
      </div>      
      <div class="form-group">
        <%= f.cktext_area :about, rows: 10, class: "form-control ckeditor" %>
      </div>
      <div class="form-group">
        <%= f.submit t("action.update"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
