<b><%= t("search.label.filter") %></b> <%= params[:search] %>
<% unless @videos && @videos.any? %>
  <p><%= t("search.label.video_no_found") %>  <%= link_to t("search.link.all_video"), videos_path %></p>
<% else %>
  <%= render @videos %>
<% end %>
<% unless @articles && @articles.any? %>
  <p><%= t("search.label.article_no_found") %>  <%= link_to t("search.link.all_article"), articles_path %></p>
<% else %>
  <%= render @articles %>
<% end %>


