<%= form_for [:admin, @user] do |f| %>

  <%= render "shared/error_message", object: f.object %>

  <div class="col-md-8 col-md-offset-2">
    <center>
      <%= image_tag f.object.avatar, class:"img-round img-responsive user_profile", id: "uploadPreview"  %>
    </center>  
  </div>
  <div class="form-group">
    <%= f.file_field :avatar, class: "form-control", id: "uploadImage", onchange:"PreviewImage();", accept: "image/png,image/gif,image/jpeg" %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.select :role, options_for_select([:normal, :admin], f.object.role), {}, {class: "form-control"} %>    
  </div>

  <div class="actions">
    <%= f.submit action, class: "btn btn-primary" %>
  </div>
<% end %>
