<!-- <div class="row">     -->
    <% if @activities %>
      <% @activities.each do |activity| %>
      <% comment = activity.trackable %>
        <div class="col-md-12 activity-show">        
          <% if comment %>
            <% if comment.parent_id.present? %>
              <%= link_to comment.user.name, comment.user %>
               <%= t("activity.label.reply_on") %>
               <%= comment.commentable_type.downcase %>
               <%= link_to comment.commentable.title, comment.commentable %>
            <% else %>            
              <%= link_to comment.user.name, comment.user %>
              <%= t("activity.label.post_on") %>
              <%= comment.commentable_type.downcase %>
              <%= link_to "#{comment.commentable.title}", comment.commentable %>
            <% end %>  
          <% else %>  
            <%= t("activity.label.removed") %>
          <% end %>
          <span class="pull-right text-muted small"><em><%= time_ago_in_words activity.created_at %></em>
          </span>        
        </div>
      <% end %>
      <%= will_paginate @activities %>
    <% end %>  
<!-- </div> -->
