<%= form_for [:admin, @video], validate: true do |f| %>

  <%= render "shared/error_message", object: f.object %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <center>
        <%= image_tag f.object.image, class:"img-round img-responsive user_profile", id: "uploadPreview"  %>
      </center>
      
      <div class="form-group">
        <%= f.label :image, t("admin.videos.label.screenshot") %>
        <%= f.file_field :image, class: "form-control", id: "uploadImage", onchange:"PreviewImage();", accept: "image/png,image/gif,image/jpeg" %>
        <%= f.hidden_field :image_cache %>
      </div>
      
      <div class="form-group">        
        <%= f.text_field :file_link, class: "form-control", placeholder: Video.human_attribute_name(:file_link), autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label t("admin.articles.label.tag") %>
        <%= f.collection_select :tag_ids, Tag.with_translations.order(:name), "id", "name",{},{multiple: true, size: 5, class: "form-control tags_choosen"} %>        
      </div>
      
      <div class="form-group">        
        <%= f.text_field :title, class: "form-control", placeholder: Video.human_attribute_name(:title) %>
      </div>
      
      <div class="form-group">
        <%= f.label :publish_date %>
        <div class="form-inline">
          <%= f.date_select :publish_date, {start_year: Time.now.year, end_year: 5.year.ago.year,
            order: [:day, :month, :year], validate: false,
            prompt: { day: "Day", month: "Month", year: "Year" }},
            {class: "form-control selectwidthauto"} %>
        </div>
      </div> 
      <div class="form-group">        
        <%= f.text_area :description, rows:5, class: "form-control", placeholder: Video.human_attribute_name(:descriptionk) %>
      </div>

      <div class="form-group">        
        <%= f.number_field :duration, class: "form-control", placeholder: Video.human_attribute_name(:duration) %>
      </div>
        
      <div class="well">
        <label><%= t("admin.videos.label.resource_link") %></label>
        <div class="form-group">
          <%= f.fields_for :usefull_links do |builder| %>
            <%= render "usefull_link_fields", f: builder %>
          <% end %>
          <%= link_to_add_fields t("admin.videos.link.add_more_link"), f, :usefull_links %>
        </div>                                
      </div>
    </div>      
  </div>
  <div class="form-group">
    <%= f.fields_for :snippet do |builder| %>      
      <%= builder.text_area :content, rows: 25, class: "form-control", placeholder: Snippet.human_attribute_name(:content) %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :status, class: "radio-inline", value: :show do %>
      <%= f.radio_button :status, :show %><%= t("admin.videos.label.show") %>
    <% end%>
    <%= f.label :status, class: "radio-inline", value: :hide do %>
      <%= f.radio_button :status, :hide %><%= t("admin.videos.label.hide") %>
    <% end%>
  </div>
  <div class="form-group">        
    <%= f.submit action, class: "btn btn-primary" %>
  </div>
<% end %>
