<div class="form-group">
  <%= f.label t("admin.videos.label.title") %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label t("admin.videos.label.link") %>
  <%= f.text_field :link, class: "form-control" %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields t("link.remove"), f %>
</div>
