<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label :link %>
  <%= f.text_field :link, class: "form-control" %>  
  <%= link_to_remove_fields "Remove", f %>
</div>
