<tr>
  <td>
    <p><%= truncate video.title, length: 20 %></p>
  </td>
  <td>
    <p><%= truncate video.description, length: 20 %></p>
  </td>
  <td>
    <%= (link_to video.user.name, video.user) if video.user %>
  </td>
  <td>
    <%= video.duration %>
  </td>
  <td>
    <%= video.status  ? t("admin.videos.label.show") : t("admin.videos.label.hide") %>
  </td>
  <td>
    <%= link_to t("link.detail"), admin_video_path(video) %>
    | <%= link_to t("link.edit"), edit_admin_video_path(video) %>
    | <%= link_to t("link.delete"), admin_video_path(video), data: {method: :delete, confirm: t("info.confirm_delete")} %>
  </td>
</tr>
