<tr>
  <td>
    <%= video.title %>
  </td>
  <td>
    <%= truncate video.description, length: 20 %>
  </td>
  <td>
    <%= video.tags.size %>
  </td>
  <td>
    <%= video.duration %>
  </td>
  <td>
    <%= link_to t("link.detail"), admin_video_path(video) %>
  </td>
  <td>
    <%= link_to t("link.edit"), edit_admin_video_path(video) %>
    | <%= link_to t("link.delete"), admin_video_path(video), data: {method: :delete, confirm: t("info.confirm_delete")} %>
  </td>
</tr>
