<center><h3><u>Video</u></h3></center>
<%= link_to "Add new Video", new_admin_video_path %>
<div class="col-md-3 pull-right">
  <%= form_tag(admin_videos_path, :method => "get", class: "", id: "search-form", role: "search") do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Video" %>
       <div class="input-group-btn">
          <button type="submit" class="btn btn-default">
             <i class="fa fa-search fa-lg"></i>
          </button>
       </div>            
  </div>
<% end %>
</div>
<table class="table">
  <thead>
    <th>Title</th>
    <th>Discription</th>
    <th>Tags count</th>
    <th>Duration</th>
    <th></th>
    <th>Action</th>
  </thead>
  <tbody>
    <%= render @videos %>    
  </tbody>
</table>
<%= will_paginate @videos %>
