<div class="row" id="video-show">
  <div class="col-md-3 screenshot">
    <%= image_tag @video.image, class: "img-responsive" %>
    <%= link_to t("link.edit"), edit_admin_video_path(@video), class: "btn btn-primary btn-read-video" %>
    <%= link_to t("link.delete"), admin_video_path(@video), data: {method: :delete, confirm: t("info.confirm_delete")} , class: "btn btn-danger btn-read-video" %>
  </div>
  <div class="col-md-8 video-info">
    <h2 class="comment-text"><%= @video.title %></h2>
    <span class="info">
      <%= l @video.created_at.to_date %>
      <%= t("admin.videos.label.duration") %><%= @video.duration %> <%= t("admin.videos.label.minute") %>
      <br/>      
        <%= t("admin.videos.label.tag") %>
        <% @video.tags.each do |tag| %>
          <%= link_to tag.name, [:admin, tag] %>,
        <% end %>      
    </span>
    <br>
    <p><%= @video.description %></p>
    <br/>
    <%= t("admin.videos.label.video_link") %> <%= link_to @video.file_link, @video.file_link, target: "_blank" %>
  </div>  
</div>
<br/>
<%= link_to t("link.back"), :back %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <%= t("admin.videos.label.link_in_video") %>
            <ul>
              <%= render partial: "usefull_links/usefull_link", collection: @video.usefull_links %>
            </ul>
          </div>
          <div class="col-md-12">
            <%= render "snippets/snippet", snippet: @video.snippet %>
          </div>
          <div class="col-md-12">
            <%= t("admin.videos.label.total_comment") %>
          </div>          
        </div>
      </div>      
    </div>
  </div>
</div>
