<div class="row" id="video-show">  
  <div class="col-md-10 col-md-offset-1">
    <div class="embed-responsive embed-responsive-16by9 video_wrapper">
      <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/<%= @video.extract_video_id %>" allowfullscreen>
      </iframe>
    </div>    
  </div>

  <div class="col-md-3 screenshot">
    <%= image_tag @video.image, class: "img-responsive" %>
    <%= link_to edit_admin_video_path(@video), class: "btn btn-primary btn-read-video" do %>
      <i class="fa fa-pencil-square-o"> </i> <%= t("link.edit") %>
    <% end %>
    <%= link_to admin_video_path(@video), data: {method: :delete, confirm: t("info.confirm_delete")} , class: "btn btn-danger btn-read-video" do %>
      <i class="fa fa-trash-o"></i> <%= t("link.delete") %>
    <% end %>
  </div>  
  <div class="col-md-8 video-info">
    <h2 class="comment-text"><%= @video.title %></h2>
    <span class="info">
      <%= t("admin.videos.label.author") %> <%= (link_to @video.user.name, @video.user) if @video.user %><br/>
      <%= l @video.publish_date.to_date %>
      <%= t("admin.videos.label.duration") %><%= @video.duration %> <%= t("admin.videos.label.minute") %>
      <br/>      
        <%= t("admin.videos.label.tag") %>
        <% @video.tags.each do |tag| %>
          <%= link_to tag.name, [:admin, tag] %>,
        <% end %>
      <br/>
      <%= t("admin.videos.label.video_link") %> <%= link_to @video.file_link, @video.file_link, target: "_blank" %>
      <br/>
      <%= t("admin.videos.label.status") %>: <%= @video.status  ? t("admin.videos.label.show") : t("admin.videos.label.hide") %>
    </span>
    <br>
    <p><%= @video.description %></p>    
  </div>  
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <% if @video.snippet %>
              <%= render "snippets/snippet", snippet: @video.snippet %>
            <% end %>
          </div>
          <div class="col-md-12">
            <%= t("admin.videos.label.total_comment") %>
          </div>          
        </div>
      </div>      
    </div>
  </div>
</div>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" data-no-turbolink ></script>
