<div class="row" id="video-show">
  <div class="col-md-3 screenshot">
    <%= image_tag @video.image, class: "img-responsive" %>
    <%= link_to "Edit", edit_admin_video_path(@video), class: "btn btn-primary btn-read-video" %>
    <%= link_to "Delete", admin_video_path(@video), data: {method: :delete, confirm: "Are you sure?"} , class: "btn btn-danger btn-read-video" %>
  </div>
  <div class="col-md-8 video-info">
    <h2><%= @video.title %></h2>
    <span class="info">
      <%= @video.created_at.to_date %>
      , duration:<%= @video.duration %> minutes
      <br/>
      <%= link_to "#" do %>
        tutorial: <%= @video.tutorial.title %>
      <% end %>
      <%= link_to "#" do %>
        ,language: <%= @video.tutorial.language.name %>
      <% end %>
    </span>
    <br>
    <%= @video.description %>
  </div>  
</div>
<br/>
<%= link_to "Back", :back %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            Link in this video:
            <ul>
              <%= render partial: "usefull_links/usefull_link", collection: @video.usefull_links %>
            </ul>
          </div>
          <div class="col-md-12">
            <%= render "snippets/snippet", snippet: @video.snippet %>
          </div>
          <div class="col-md-12">
            Comment
          </div>
          <div class="col-md-12">
            Similar Video
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
