<div class="logo">
   <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <% unless user_signed_in? %> 
             <%= link_to t("layouts.header.link.sign_in"), new_user_session_path %>
             <%= t("layouts.header.label.or") %>
             <%= link_to t("layouts.header.link.sign_up"), new_user_registration_path %>
            <% else %>                
              <%= link_to user_activities_path(current_user) do %>
                <i class="fa fa-bell-o"><sup><%= current_user.notify.size if current_user.notify.size > 0 %></sup></i>
              <% end %>                
              <%= t("layouts.header.label.log_as") %> <%= link_to current_user.name, user_path(current_user) %>
              | <%= link_to t("layouts.header.link.sign_out"), sign_out_path %>
            <% end %>                
          </div>
        </div>
        <div class="col-xs-12">
          <%= render "shared/locale_lang" %>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <!-- <img src="dddd"> -->
          <div class="image-logo">            
            <%= image_tag "logo_#{locale}.png", class: "img-responsive" %>
          </div>
        </div>

        <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 subscript">
                <% @page = Page.first %>
                <% if @page %>
                <ul class="">
                  <li>
                    <%= link_to @page.ff_link do %>
                      <i class="fa fa-facebook-square fa-2x"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to @page.tw_link do %>
                      <i class="fa fa-twitter-square fa-2x"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to @page.yt_link do %>
                      <i class="fa fa-youtube-square fa-2x"></i>
                    <% end %>
                  </li>
                </ul>
                <% end %>                                                     
              </div>  
            </div>
        </div>        
    </div>
  </div>
</div>
<div class="navbar navbar-inverse user-page-nav user-page-nav-<%= params[:controller] %>">
  <div>
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>         
         <%= link_to t("layouts.header.link.root_path_full"), root_path, class: "navbar-brand hidden-xs" %>
         <%= link_to t("layouts.header.link.root_path"), root_path, class: "navbar-brand visible-xs" %>
         <%= form_tag(search_item_path, :method => "get", class: "navbar-form pull-left", id: "search-form", role: "search") do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: search_placeholder %>
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                     <i class="fa fa-search fa-lg"></i>
                  </button>
               </div>            
          </div>
        <% end %>         
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li class="video-menu <%= "active" if controller?("videos") %>">
               <%= link_to t("layouts.header.link.all_video"), videos_path %>
            </li>            
            <li class="article-menu <%= "active" if controller?("articles") %>">
               <%= link_to t("layouts.header.link.articles"), articles_path %></li>
            <li class="question-menu <%= "active" if controller?("questions") %>" >
               <%= link_to t("layouts.header.link.question"), questions_path %>
            </li>
            <li class="<%= "active" if controller?("static_pages")&&action?("about") %>" >
               <%= link_to t("layouts.header.link.about"), about_path %>
            </li>
         </ul>
      </div>
      <!--/.navbar-collapse -->
  </div>
   </div>
</div>
