<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>    
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
    <%= favicon_link_tag "icon-logo.png" %>
  </head>
  <body>
    <%= render "layouts/header" %>    
    <div class="container application">
      <div class="row">        
        <div class="col-md-9">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{(key == "danger")? "danger" : "success"}") %>
          <% end %>    
          <%= yield %>
        </div>      
        <div class="col-md-3">        
          <%# side_bar %>
          <%= render "shared/resent_tags" %>
          <%#= yield :side_menu %>
        </div>      
    </div>
    </div>
    <div class="col-md-12">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
