<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
    <%= favicon_link_tag "icon-logo.jpg" %>
  </head>
  <body>
    <%= render "layouts/header" %>    
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{(key == "danger")? "danger" : "success"}") %>
      <% end %>    
      <%= yield %>

      <%= render "layouts/footer" %>
    </div>    
  </body>
</html>
